.sln-dropdown {
  display: inline-block;
  position: relative;

  &.open {
    .sln-dropdown-menu {
      visibility: visible;
      opacity: 1;
      top: initial;
      margin-top: 0.15rem;
    }
  }

  .sln-dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    width: max-content;
    z-index: 1;
    display: block;
    text-align: left;
    background-color: white;
    padding: 0.5rem 0.75rem;
    margin-top: -0.15rem;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
      margin-top 0.2s ease-in-out;
  }
}
